.container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(10,1fr);
  border-radius: 5px;
  font-family: 'Kavivanar', cursive;
  color:white;
  padding: 5px;
  height:150vh;
  background-image: url(../images/hiking.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}


.topnav{
    font-family: 'Kavivanar', cursive;
    background-image: url(../images/fire.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 14px 83px;
    font-size: 17px;
    font-family: 'Kavivanar', cursive;
}

/* Add an active class to highlight the current page */
.active {
    background-color:#7EA2AA;
    color: white;
}


/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
    font-family: 'Kavivanar', cursive;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 83px;
    background-color: inherit;
    margin: 0;
font-family: 'Kavivanar', cursive;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Kavivanar', cursive;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Kavivanar', cursive;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}






/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}



/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 70%;
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 23px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 15px 13px 29px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #fff;

  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */

.topnav{
  grid-column: 1/5;
  grid-row: 1/2;
}
form{
  grid-column: 1/5;
  grid-row: 2/8;
}
h5{
  grid-column: 1/5;
  grid-row: 9/10;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-20, .col-70, input[type=submit] {
    width: 80%;
    margin-top: 0;
    font-size: 10px;
  }
  p{
    font-size: 9px;
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .topnav {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 4px;

  a{
    font-size: 4px;}
  }
  form{
    grid-column: 1/5;
    grid-row: 3/8;
  }
  .item1{
  grid-column: 1/5;
  display: block;
  }
  .dropdown{
    color:black;
    font-size: 4px;
  }
   .dropdown .dropbtn{
    font-size: 4px;
  }
  label{
    font-size: 9px;
  }
input[type=text], select, textarea{
  width:100%;
  padding: 5px;
}
h5{
  font-size: 9px;
}
}


@media screen and (max-width: 641px){
.item1{
  grid-column: 1/5;
  grid-row: 1/2;
}
p{
  grid-column: 1/5;
  grid-row: 2/3;
}
.col-25{
  grid-column: 1/5;
  grid-row: 3/8;
}
}
